img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

/*FORM STYLES
=======================================*/
/*TODO: Add the CSS needed to style the form*/

label {
  display: block;
  margin-bottom: 1em;
  font-size: 1.3em;
}

textarea, input {
  width: 100%;
}

input {
  border: none;
  border-bottom: 2px solid #A3D6A7;
}

 textarea {
  border: 2px solid #A3D6A7;
  font-size: .8em;
 }
